<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="~/bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="~/Scripts/angular-toastr/angular-toastr.css">
    @Styles.Render("~/Content/css")
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <script src="~/bower_components/angularjs/angular.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>
    <script src="~/bower_components/angular-resource/angular-resource.js"></script>
    <script src="~/bower_components/angular-messages/angular-messages.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="~/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/angular-toastr/angular-toastr.js"></script>
    <script src="~/Client/accountingApp/accountingApp.js"></script>
    <script src="~/Client/accountingApp/services/CompanyService.js"></script>
    <script src="~/Client/accountingApp/services/AccountService.js"></script>
    <script src="~/Client/accountingApp/controllers/RegisterCompanyController.js"></script>
    <script src="~/Client/accountingApp/controllers/AddUserController.js"></script>
    <script src="~/Client/accountingApp/controllers/ChartOfAccountController.js"></script>
</head>
<body ng-app="accountingApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Accounting</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operation <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Journal voucher</a></li>
                            <li><a href="#">Asset managment</a></li>
                            <li><a href="#">Posting transaction</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Trial balance</a></li>
                            <li><a href="#">Bad transaction</a></li>
                            <li><a href="#">Daily transaction</a></li>
                            <li><a href="#">Loss and profit</a></li>
                            <li><a href="#">Balance sheet</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/chart-of-account">Chart of account</a></li>
                            <li><a href="#">Mapping account</a></li>
                            <li><a href="#">Financial periods</a></li>
                            <li><a href="#">Opening balance</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Company info</a></li>
                            <li><a href="#">Users</a></li>
                            <li><a href="#">Change password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fluid-container body-content">
        @RenderBody()
    </div>
    <toastr></toastr>
    @RenderSection("scripts", required: false)
</body>
</html>
